<%= form_for(@check) do |f| %>
  <% if @check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% @check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="browser" id="browser-text">
  	Your browser version is
  </div>
  <div class="browser" id="browser-result">
  </div>
  <br>
  <div class="flash" id="flash-text">
  	Your Flash version is
  </div>
  <div class="flash" id="flash-result">
  	disabled
  </div>
  <br>
  <div class="java" id="java-text">
  	Your Java version is
  </div>
  <div class="java" id="java-result">
  	disabled
  </div>
  <br>
  <div class="popup" id="popup-text"></div>
  	Your pop-up blocker is
  <div class="popup" id="popup-result">
  	function did not run
  </div>
<!--
  <div class="actions">
    <%= f.submit %>
  </div>
-->
<% end %>
