<tr>
  <td>
    <b>Flash Version</b>
  </td>
  <td id ="flash-result">
    <%= @check.flash %>
  </td>
</tr>
<tr>
  <td>
    <b>Java Version</b>
  </td>
  <td id ="java-result">
    <%= @check.java %>
  </td>
</tr>
<tr>
  <td>
    <b>PDF Reader</b>
  </td>
  <td id ="reader-result">
    <%= @check.reader %>
  </td>
</tr>