<h1>Listing checks</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= link_to check.id, check %></td>
        <td><%= check.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check', new_check_path %>
