<%= javascript_include_tag "checker" %>
<h1 class="script-disabled">YOUR JAVASCRIPT IS DISABLED<br />YOU MUST ENABLE JAVASCRIPT</h1>

<div class="hidden">
<%= render 'form' %>
</div>
<!--
<%= link_to 'Back', checks_path %>
-->

