<div class="row">
	<div class="span12">
		<h1 class="script-disabled">YOUR JAVASCRIPT IS DISABLED<br />YOU MUST ENABLE JAVASCRIPT</h1>
	</div>
</div>

<div class="hidden">
<%= render 'form' %>
</div>
<!--
<%= link_to 'Back', checks_path %>
-->

